body{
    background-color:aquamarine;
}

h1{
    color:#8a2be2;
    font-size: 50px;
}

img{
   /* background-color: blueviolet;*/
    height : 10%;
    width: 10%;
}
img:hover{
     background-color: blueviolet;
}

.pizza{
    background-color:rgb(1, 201, 1) ;
}
.burger{
    background-color: rgb(206, 55, 55);
}

.circular{
    border-radius: 100%;
}

#heading{
    color:brown;
}